{% extends 'base.html.twig' %}

{% block title %}Oeuvres index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oeuvres index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Taille</th>
                    <th>Tarif</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for oeuvre in oeuvres %}
                <tr>
                    <td>{{ oeuvre.id }}</td>
                    <td>{{ oeuvre.type.id }}</td>
                    <td>
                        {% if oeuvre.image %}
                            <img src="{{ asset(oeuvre.image.imagePath)}}" height="100px" width="100px">
                        {% endif %}
                    </td>
                    <td>{{ oeuvre.taille.dimensions }}</td>

                    <td>{{ oeuvre.tarif }}</td>

                    <td>
                        <a href="{{ path('oeuvres_edit', {'id': oeuvre.id}) }}">
                            <button class="btn btn-mg btn-light actions" type="button">
                                <i class="fas fa-edit"></i>
                                <span>Modifier</span>
                            </button>
                        </a>
                        <a href="{{ path('oeuvres_show', {'id': oeuvre.id}) }}">
                            <button class="btn btn-mg btn-light actions" type="button">
                                <i class="fa fa-eye"></i>
                                <span>show</span>
                            </button></a>

                    </td>
                </tr>
            {% else %}boutonS
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('oeuvres_new') }}">
            <button class="btn  btn-success btn-mg boutonS" type="button">
                <i class="fas fa-folder-plus"></i>
                <span>Ajouter une oeuvre</span>
            </button>
        </a>
    </div>
{% endblock %}
