{% extends 'base.html.twig' %}

{% block title %}
   Oeuvres
{% endblock %}

{% block body %}
    <div class="container">
       <div class="row">
           <h1>Oeuvres</h1>
       </div>
        <div class="container table-responsive" style="text-align: center" >
            <table class="table">
                <thead class="thead-dark">
                    <tr class="row>" >
                        <th></th>
                        <th>Id</th>
                        <th>Tarif</th>
                        <th>Taille</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <td>{{ oeuvre.id }}</td>
                            <td>{{ oeuvre.tarif }}</td>
                            <td>{{ oeuvre.taille.dimensions }}</td>
                            <td>
                                {% if oeuvre.image %}
                                    <img src="{{ asset(oeuvre.image.imagePath)}}" height="200px" width="200px">
                                {% endif %}
                            </td>
                            <td class="row">
                                <a href="{{ path('oeuvres_edit', {'id': oeuvre.id}) }}">
                                    <button class="btn btn-mg btn-info actions" type="button">
                                        <i class="fas fa-edit"></i>
                                        <span>Modifier</span>
                                    </button>
                                </a>
                                <div >
                                    {{ include('oeuvres/_delete_form.html.twig') }}
                                </div>
                            </td>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ path('oeuvres_index') }}">
            <button class="btn  btn-secondary btn-mg boutonS" type="button">
                <i class="far fa-arrow-alt-circle-left"></i>
                <span>Retour à la liste</span>
            </button>
        </a>
    </div>

{% endblock %}
